body
{
    margin: 0;
}
.issuePage{
    background:  -webkit-linear-gradient(#D6A074, #503C2C, #1C150D);
    background-size: 100% 100%;
    min-height: 100vh; 
    display: block;  
    font-size: 20px;
}
.link {
    padding-top: 2%;
    text-align: left;
    margin-left: 5%;
}
.link a{
    font-size: 20px;
    margin-top: 2%;
    background: transparent;
    text-decoration: none;
    padding: 7px 30px 7px 30px;
    border: 3px solid black;
    border-radius: 5px;
    color: black;
    cursor: pointer;
}
.issuePage div{
    padding-top: 2%;
    text-align: left;
    margin-left: 5%;
}
.issuePage button{
    font-size: 20px;
    margin-top: 2%;
    background: transparent;
    text-decoration: none;
    padding: 7px 30px 7px 30px;
    border: 3px solid black;
    border-radius: 5px;
    color: black;
    cursor: pointer;
}
.issuePage input{
    font-size: 20px;
    margin-top: 2%;
    background: transparent;
    text-decoration: none;
    padding: 7px 30px 7px 30px;
    border: 3px solid black;
    border-radius: 5px;
    color: black;
}
.commentForm{
    padding-bottom: 5%;
}